.body {
  background-color: #edecec !important;
  font-family: 'Open Sans', sans-serif !important;
}

.hero-section {
  background-color: #edecec;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

.portfolio {
  margin-left: 20px;
  margin-right: 20px;
}

.profile {
  margin: 14vh auto;
}

.content {
  margin: 14vh auto;
}

.profile-card {
  margin: 24px auto;
  min-height: 72vh;
  width: 268px;
  /* neuomorphic css goes here */
  background-color: #edecec;
  border-radius: 30px;
  box-shadow:
    10px 10px 14px #cccccc,
    -10px -10px 16px #fefefe;
}

.profile-img-wrapper {
  margin: 30px auto;
  padding: 15px;
  height: 230px;
  width: 230px;
  display: flex;
  border-radius: 50%;
  box-shadow:
    2px 2px 2px #cccccc inset,
    -2px -2px 2px #fefefe inset;
}

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url('assets/avatar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.profile-img > img {
  height: inherit;
  width: inherit;
}

.profile-details {
  margin: 20px 15px 26px 15px;
}

.profile-details  > .row {
  margin-top: 24px;
}

.profile-image {
  text-align: left;
}

.profile-text {
  text-align: left;
  font-size: 16px;
  color: #959595;
  font-weight: bold !important;
}

.profile-text > a {
  color: #959595;
}


.profile-icon {
  color: #959595;
}

.profile-footer {
  padding-top: 60px;
  padding-bottom: 40px;
}


.header {
  min-height: 162px;
  margin: 24px auto;
}

.user-role {
  margin-top: 14px;
  font-size: 20px;
  color: #5a5a5a;
}

.btn-card {
  height: 52px;
  width: 52px;
  display: flex;
  justify-content: center;

    /* neuomorphic css goes here */
    background-color: #edecec;
    border-radius: 16px;
    box-shadow:
      6px 6px 8px #cccccc,
      -6px -6px 8px #fefefe;
}

.btn-card:hover {
  cursor: pointer;

  /* active neuomorphic css */
  box-shadow:
    2px 2px 2px #cccccc,
    -2px -2px 2px #fefefe;
}

.username {
  color: #5a5a5a;
  font-size: 34px;
  font-weight: bold !important;
}

.progress-meter {
  margin: 8px 0;
  background-color: #cccccc;
  box-shadow:
    1px 1px 2px #cccccc,
    -1px -1px 2px #fefefe;
  border-radius: 2px;
  height: 5px;
  width: 100%;
}


.skill-progress {
  background-color:#737373;
  border-radius: 2px;
  height: 5px;
  width: 70%;
}

.user-details {
  margin-top: 20px;
}

.user-intro {
  color: #7c746c;
  font-size: 16px;
  font-weight: bold !important;
  min-height: 110px;
  padding-right: 8px;
}

.user-about {
  color: #7c746c;
  font-size: 16px;
  min-height: 110px;
  padding-right: 8px;
}


.section-heading {
  color: #737373;
  font-size: 24px;
  font-weight: bold !important;
  margin: 10px auto;
}

.list-card {
  margin-left: 10px;
  margin-top: 16px;
  min-height: 50px;
  min-width: 190px;
  font-size: 18px;
  font-weight: bold !important;
  color: #959595;
  border: none;

    /* neuomorphic css goes here */
    background-color: #edecec;
    border-radius: 18px;
    box-shadow:
      10px 10px 10px #cccccc,
      -8px -8px 10px #fefefe;
}

.list-card:hover {
  cursor: pointer;

  /* active neuomorphic css */
  box-shadow:
    2px 2px 4px #cccccc,
    -2px -2px 4px #fefefe;
}

.list-card-active, .list-card-active:hover  {
  color: #5a5a5a !important;

  /* active neuomorphic css */
  box-shadow:
    6px 6px 6px #cccccc inset,
    -6px -6px 6px #fefefe inset;
}

.list-card > span {
  text-align: left;
}

.date-span {
  font-size: 18px;
  color: #5a5a5a !important;
}

.date-span-small {
  font-size: 16px;
  color: #5a5a5a !important;
}

.title {
  font-size: 22px;
  color: #5a5a5a !important;
  font-weight: bold;
}

.option-heading {
  font-size: 18px;
  font-weight: bold !important;
  color: #5a5a5a !important;
}

.option-location {
  font-size: 14px;
  color: #7c746c;
  font-weight: normal;
}

.option-details {
  font-size: 16px;
  color: #7c746c;
}

.score {
  font-size: 16px;
  color: #7c746c;
}

.skillset {
  min-height: 105px;
}

.skill {
  margin: 20px auto;
}

.skill-heading {
  font-size: 16px;
  color: #5a5a5a !important;
}




/* helper css goes here */

.center {
  display: flex;
  justify-content: center;
}

.vt-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.soft {
  padding: 15px !important;
}

.soft-half {
  padding: 10px !important;
}

.soft-ends {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.push {
  margin: 15px !important;
}

.push-half--left {
  margin-left: 8px;
}

.push-half--sides {
  margin-left: 8px;
  margin-right: 8px;
}

.push--ends {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.hard {
  padding: 0px !important;
}
.hard--sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.flush {
  margin: 0px!important;
}







